{% extends "base.html" %}

{% block title %}{{ "Model Data" }}{% endblock %}
{% load static %}
{% block body_block %}
    <h1 style="text-align:center;">Model Data Fetched..!!</h1>
    <div class="container" align="center">
        <form>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Trainer</th>
                    <th scope="col">Location</th>
                    <th scope="col">Days</th>
                  </tr>
                </thead>
                <tbody>
                    {% for course in coursees %}
                    <tr>
                        <th scope="row">{{ course.Name }}</th>
                        <td>{{ course.Trainer }}</td>
                        <td>{{ course.Location  }}</td>
                        <td>{{ course.Days}}</td>
                    </tr>
                    {% endfor %}
                 
                </tbody>
              </table>
        </form>
    </div>
{% endblock %}

