{% extends "base.html" %}

{% block title %}{{ "Bye" }}{% endblock %}

{% block body_block %}
    <div class="container" align="center">
        <h1>Hello Thanks for Store Data...!</h1>
        <div class="container" align="center">
            <form method="post">
                <h1>Bye..!!</h1>
                <b>To Enter More Data..</b><a href="http://127.0.0.1:8000/validation/">ClickMe</a>
                <b>To View All Datas..</b><a href="http://127.0.0.1:8000/showdata/">ClickMe</a>
            </form>
        </div>
    </div>
{% endblock %}

