h1{text-align:center;}
body{
background-image:url(https://image.shutterstock.com/image-vector/christmas-greeting-card-calligraphic-season-450w-1192564498.jpg);
background-repeat:no-repeat;
background-size:cover;
color:red;
}