{% extends "base.html" %}

{% block title %}{{ "Feedback" }}{% endblock %}

{% block body_block %}
    <h1 style="text-align:center;">Login Registration..!!</h1>
    <div class="container" align="center">
        <div class="container" align="center">
            <h1 style="text-align:center;">Hi Customer, Please login to view Account Details</h1>
            <h1 style="text-align:center;">Please Login Again</h1>
           <a href='/accounts/login/' class='btn btn-success'>SignIn</a>
        </div>
    </div>
{% endblock %}

