body{
    background-image:url(https://image.shutterstock.com/image-vector/jungle-zoo-themed-animal-background-450w-1018271374.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    }
    
    h1{
    color:red;text-align:center;font-family:candara;
    }